services:
  app:
    build: ./app
    ports:
      - "${APP_EXTERNAL_PORT:-8000}:${APP_PORT:-8000}"
    env_file:
      - .env
    depends_on:
      - db
    volumes:
      - file_storage:/app/app/uploads

  db:
    image: postgres:15-alpine
    restart: always
    volumes:
      - postgres_data:/var/lib/postgresql/data
    env_file:
      - .env
    expose:
      - $POSTGRES_PORT

volumes:
  postgres_data:
  file_storage:
  