services:
  backend:
    build: ./backend
    ports:
      - "8000:8000"
    env_file:
      - .env
    restart: always
    volumes:
      - ./volumes/file_storage:/backend/uploads

  db:
    image: postgres:15-alpine
    restart: always
    volumes:
      - ./volumes/postgres_data:/var/lib/postgresql/data
    env_file:
      - .env
